
<div class="container">
  <form>
    <div class="form-group">
      <label for="nomeInput">Nome:</label>
      <input type="text" class="form-control" id="nomeInput" placeholder="Digite um nome" #nomeInput (input)="alterarNome(nomeInput.value)">
    </div>
    <button type="button" class="btn btn-primary" (click)="adicionar(nomeInput.value)">Adcionar</button>
  </form>
  <div class="alert alert-primary mt-3 p3" [hidden] = "esconderCaixa">
    {{nome}}
  </div>
</div>
<!-- <p>Oi, meu nome é {{nome}} e tenho {{idade}} anos</p>-->
